git+https://github.com/cloudify-cosmo/cloudify-rest-client@3.1rc1#egg=cloudify-rest-client==3.1rc1
git+https://github.com/cloudify-cosmo/cloudify-plugins-common@3.1rc1#egg=cloudify-plugins-common==3.1rc1
